<div class="container">

 <div class="col-md-12 filters">
    <div class="input-group">
      <input ng-model="query" type="search" class="form-control" aria-label="..." placeholder="Search">

      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort by <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a ng-click = 'setOrderProp("title")'>title</a></li>
          <li><a ng-click = 'setOrderProp("datetime")'>datetime</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  
  <div class="col-md-12 filters">
    <div ng-repeat="flat in flats | filter:query | orderBy:orderProp" class="thumbnail"> 
      <div class="col-md-3">
        <a href="#/flats/{{flat.id}}"><img ng-src="{{flat.imageUrl}}" alt="{{flat.title}}"></a>
      </div>
      <div class="col-md-9">
          <ul class="list-group">
            <li class="list-group-item"> <p><a href="#/flats/{{flat.id}}">{{flat.title}}</a></p></li>
            <li class="list-group-item"> <p>{{flat.datetime | date:"MM/dd/yyyy @ h:mma"}}</p></li>
            <li class="list-group-item"> <p>{{flat.address}}</p></li>
            <li class="list-group-item"> <p>{{flat.price | currency}}</p></li>
          </ul>
      </div> 
    </div> 
  </div>
</div>
