<div class="flat-images">
 <img ng-src="{{mainImageUrl}}" class="flat">
</div>

<div class="flat-info">
	<p>{{flat.datetime | date}}</p>
	<p><i>{{flat.description}}</i></p>
	<p><b>Address:</b> {{flat.address}}</p>
	<p><b>Rooms number:</b> {{flat.roomsNumber}}</p>
	<p><b>Price:</b> {{flat.price | currency}}</p>
    <p><b>Email:</b> <i>{{flat.email}}</i></p>
</div>

<ul class="flat-thumbs">
  <li ng-repeat="img in flat.imageUrl">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>

<button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Add image</button>
	<hr>
	<div  uib-collapse="isCollapsed">
		 <form name="upload_form"  ng-submit="addImg()">
                <input 
                type="file" 
                ngf-select 
                ng-model="file" 
                name="file" 
                ngf-pattern="'image/*'"
                accept="image/*" 
                ngf-max-size="20MB" 
                />
                <i ng-show="upload_form.file.$error.required">*required</i><br>
                <i ng-show="upload_form.file.$error.maxSize">File too large 
                {{file.size / 1000000|number:1}}MB: max 20M</i>
                <button type="submit">submit</button>
        </form>
         <uib-progressbar class="progress-striped active" value="dynamic" ><span style="color:white; white-space:nowrap;">{{dynamic}}</span></uib-progressbar>
	</div>
