    <div class="jumbotron">
      <div class="container" >
        <h1>You can do it:</h1>
        <nav>
          <a href="#flats">Find an apartment here ...</a><br>
          <a href="#upload">or sell here ...</a>
        </nav>
      </div>
    </div> 

    <div class="learn-more">
    <div class="container">
    <div  class="row">
        <div class="col-md-4">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
      <p><a href="#">Learn more...</a></p>
        </div>
      <div class="col-md-4">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
      <p><a href="#">Learn more...</a></p>
      </div>
      <div class="col-md-4">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
      <p><a href="#">Learn more...</a></p>
      </div>
      </div>
    </div>
  </div>