<div class="file-upload">
    <form name="upload_form"  ng-submit="save()">
            <center><legend>New Record</legend></center>
            <center><input class="form-control inp" type="text" placeholder="Title" ng-model="titleOrder" required/></center>
            <center><input class="form-control inp" type="text" placeholder="Address" ng-model="address" required/></center>
            <center><input class="form-control inp" type="number" placeholder="Price" ng-model="price" required/></center>
            <center><input class="form-control inp" type="number" placeholder="Numbers rooms" ng-model="roomsNumber" required/></center>
            <center><input class="form-control inp" type="email" placeholder="Email" ng-model="email" required/></center>
            <center>
                <input 
                type="file" 
                ngf-select 
                ng-model="file" 
                name="file" 
                ngf-pattern="'image/*'"
                accept="image/*" 
                ngf-max-size="20MB" 
                />
                Image thumbnail: <img style="width:100px;" ng-show="!!file" ngf-thumbnail="file || '/app/img/thumb.png'"/>
                <i ng-show="upload_form.file.$error.required">*required</i><br>
                <i ng-show="upload_form.file.$error.maxSize">File too large 
                {{file.size / 1000000|number:1}}MB: max 20M</i>
                <button type="submit">submit</button>
                <p>{{progress}}</p>
            </center>
        </form>
</div>