/* app css stylesheet */

body {
  padding-top: 20px;
}

.nav {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  padding-bottom: 1px solid #C8C8C8;
  list-style-type: none;
}
/* Flat deatail */

img.flat {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  border: 2px solid #dcdcdc;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.flat:first-child {
  display: block;
}

ul.flat-thumbs {
  list-style: none;
}

ul.flat-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.flat-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

.sidebar {
  display: block;
  height: 260px;
  width: 190px;
  border: 2px solid #dcdcdc;
}

.nav a {
  color: #5a5a5a;
  font-size: 1.2em;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('/app/img/background.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:80px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron a {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #E0E0E0;
  border: 1px solid #C8C8C8;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

/*flat list*/
.thumbnail {
  position: relative;
  top: 1em;
  height: 16em; 
  display: block;
}

.thumbnail a {
  text-transform: uppercase;
  font-weight: bold;

}

.thumbnail a img {
padding: 0.5em;
width: 100%;
height: 14em;
float: left;
}

.list-group 
{
  list-style-type: none;
}

.inp
{
  margin-top: 10px;
  width: 40%;  
  text-align: center;
}
.file-upload
{
  display: block;
    
    
     top: 50%;
    left: 50%;
}

  

